button {
    width: 100px;
}

header{
    display: flex;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#brief {
    background-color: antiquewhite;
    padding: 20px;
}

#description {
    width: 50vw;
}

.categories {
    padding: 20px;
    font-size: 1.6em;
    font-style: italic;
}

.category-wrap {
    display: flex;
    flex-direction: column ;
    align-items: center;
}

ul {
    list-style: none;
    width: 50vw;
}

.item-name {
    font-weight: bold;
    margin-top: 10px;
}

.contacts {
    padding: 25px;
}